<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2112581637/size=small/bgcol=ffffff/linkcol=0687f5/track=2928938905/transparent=true/" seamless>
    <a href="http://shop.eponymous4.com/album/travis">
        Travis by Eponymous 4
    </a>
</iframe>