<article class="track">

    <header>
        <h2 class="parent-title">
            <a href="{{ link.templates-single-album }}">
                {{ album.title }}
            </a>
        </h2>
        <h3 class="entry-title">{{ track.title }}</h3>
        {{> molecules-article-metadata }}
    </header>

    {{> molecules-bandcamp-slim }}

    <h4>About this track</h4>

    <p>When Eponymous 4’s Greg Bueno moved from Honolulu to the Mainland in 1997,&nbsp;he didn’t imagine his destination would be Texas. He accepted an internship in Austin, Texas and felt apprehensive about moving to a place&nbsp;that seemed as remote&nbsp;from Hawaii culturally as well as physically. His high school friend who attended college in Austin assured him the city was the liberal bubble in Texas.</p>
    <p>It turned out his friend was correct. Austin had&nbsp;the kind of culture Greg had been craving since high school.&nbsp;While Austin was a good fit, it didn’t feel like a permanent arrangement. Greg promised to stay in the city for five years before deciding whether he wanted to stay for good.</p>
    <p>Five years passed, and&nbsp;Greg got&nbsp;beaten and battered by the dot-com bubble. He was working at record store when he decided that, no,&nbsp;he didn’t want to stay in Austin, but he didn’t have the means to move anywhere else. Greg eventually got back on his feet, and life in Austin became tolerable again. He stayed for&nbsp;another five years and overstayed an additional four.</p>
    <p>The summer of 2008 was brutal, and in 2009, the one-two punch of heat and allergies gave Greg the resolve to leave for good. From 2008 to 2012, Greg channeled that frustration in a set of lyrics that would eventually become&nbsp;<em>Travis</em>, the fifth&nbsp;original studio album by Eponymous 4.</p>
    <p>Songs such as “August”, “West” and “I Want to Follow” deal with the longing to leave set against the obstacles that prevent&nbsp;such a move from happening.&nbsp;Musically, Greg&nbsp;had been listening to&nbsp;<em>In the Aeroplane Over the Sea</em> by Neutral Milk Hotel and&nbsp;<em>Takk…</em> by Sigur Rós&nbsp;and felt an urge to record&nbsp;a thoroughly composed album with no gaps between the tracks. Albums by Jason Isbell and Sturgill Simpson kept him in the alt-country mindset that inspired 「健忘症」.</p>
    <p>Greg moved to Seattle in 2012 and re-established his home studio. He set the lyrics he wrote in Austin to music in 2014, and after a few distractions, he recorded&nbsp;<em>Travis</em> in 2016.</p>
    <p>“Travis”, of course, refers to the county in which Austin is located. Greg took the cover photo by the rail crossing on Oltorf as a train was speeding by.</p>

    <h4>Lyrics</h4>

    <p>
        For all the times a new idea made no sense<br/>
        For all the moments when a dream would fade<br/>
        For every hour spent in vain<br/>
        And every ounce of wasted pain<br/>
        The slightest hint of hope is just another ruse<br/>
    </p>

    <p>
        For all the times a memory held one more truth<br/>
        Then history would never be so wrong<br/>
        If every minute passing by<br/>
        Takes one more piece of every lie<br/>
        The story that remains is just another ruse<br/>
    </p>

    <p>
        How does the time go by so fast?<br/>
        What are the phases of the moon?<br/>
        Who knew it wasn't meant to last?<br/>
        Who knew it wouldn't end so soon?<br/>
    </p>

    <p>
        For every hour passed into another day<br/>
        And every second ticking one by one<br/>
        I leave another clue behind<br/>
        To let you seek what I can't find<br/>
        And maybe you can see right through this final ruse<br/>
    </p>

    <p>
        I know the time, it moves so fast<br/>
        I know the phases of the moon<br/>
        I knew it wasn't meant to last<br/>
        I knew it wouldn't end so soon<br/>
    </p>

    <p>
        What's one more minute in the greater scheme?<br/>
        What's one more minute in an endless dream?<br/>
        What's one more minute in the race for time?<br/>
        This moment here with you was never mine<br/>
    </p>
</article>