<article class="artist">

    <h3>Latest news</h3>

    <h4>Eponymous 4 announces new release dates for upcoming releases</h4>

    {{> molecules-article-metadata }}

    <p>The next Eponymous 4 album, Travis, comes out on March 30, 2018, and the first single from the album, “August“, arrives on Aug. 4.</p>

    <p>
        <a href="{{ link.templates-tag }}">
            More news &raquo;
        </a>
    </p>

    <h3>About</h3>

    <p>Eponymous 4 is the home studio project of Greg Bueno, a lapsed musician and web developer or a lapsed developer and web musician. It depends.</p>

    <h3>Releases</h3>

    {{> molecules-album-listing-3-column }}

</article>