{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Releases</h2>

                {{> molecules-album-listing-4-column }}
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}