<p>
    <a href="{{ sidebar.album.metadata.cover.large }}" rel="facebox">
        <img src="{{ sidebar.album.metadata.cover.medium }}" width="310" alt="[{{ sidebar.album.title }}]" title="[{ sidebar.album.title }}]" scale="0">
    </a>
</p>

<p>
    <a href="{{ sidebar.album.metadata.cover.large }}" rel="facebox" class="small">View larger image</a>
</p>

<ul class="list-unstyled">
    <li>Label: <strong>{{ sidebar.album.metadata.data.label }}</strong></li>
    <li>Release date: <strong>{{ sidebar.album.metadata.data.release }}</strong></li>
</ul>