<ul class="list-inline">
    <li>
        <a href="{{ sidebar.album.shop.url }}" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Buy now
        </a>
    </li>
</ul>

<h4>Also available from:</h4>

<ul>
    {{# sidebar.album.shop.also }}
        <li><a href="{{ url }}">{{ text }}</a></li>
    {{/sidebar.album.shop.also}}
</ul>
