{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ archive.header.type }}</h2>

                <h3>Tags: {{ archive.header.tag }}</h3>

                {{> organisms-article }}
            </div>
            <div class="col-md-4">
                {{> organisms-sidebar-blog }}
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}