{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Contact</h2>

                <p>
                    Use this form to send Observant Records a message about press inquiries, licensing or other questions.
                </p>

                <p>
                    Subscribe to the <a href="{{ link.pages-newsletter }}">newsletter</a> to receive news about our artists.
                </p>



                {{> molecules-contact-form }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}