{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Thanks!</h2>

                <p>
                    Your message has been sent. Thank you for writing!
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}