{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Newsletter</h2>

                <p>
                    Subscribe to the Observant Records newsletter to keep up with all our artists.
                </p>

                {{> molecules-newsletter-form }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}