{{> organisms-masthead }}

{{> organisms-hero-image }}

<div class="content">
  <div class="container">
    <div class="homepage-section">
      <h3>Recent releases</h3>

      <div class="row">
        {{# releases.recent }}
          {{> molecules-album-listing-4-column }}
        {{/ releases.recent }}
      </div>
    </div>
  </div>
</div>

<div class="content">
    {{> organisms-featured-media }}
</div>

<div class="content">
  <div class="container">
    <div class="homepage-section">
      <h3>Latest news</h3>

      <div class="card-deck">
        {{> molecules-card }}
        {{> molecules-card }}
        {{> molecules-card }}
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="cta">
    {{> molecules-newsletter-form-small }}
  </div>
</div>

{{> organisms-footer }}
