<form role="search" method="get" action="/">
    <div class="form-group">
        <label for="s">
            <span class="sr-only">Search for:</span>
        </label>
        <input type="search" class="form-control" placeholder="Search …" value="" name="s" title="Search for:" />
    </div>
    <input type="submit" class="search-submit btn btn-default" value="Search" />
</form>
