<div id="footer">
    <div class="container">

        <footer class="row">
            <nav id="footer-column-1" class="col-md-4">

                {{> molecules-footer-social }}

                <p>
                    &copy 2019 Observant Records
                </p>

            </nav>

            <section id="footer-column-2" class="col-md-4">
                <h3>Artists</h3>

                {{> molecules-footer-artists }}
            </section>

            <section id="footer-column-3" class="col-md-4">
                <h3>More Information</h3>

                {{> molecules-footer-info }}
            </section>
        </footer>
    </div>
</div>
