footer {
  padding-top: 20px;
}

#footer {
  background-color: #C9C9C9;
  background-image: url('graphics/white_carbonfiber.png');
}

@mixin navigation-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul#nav-social {
  padding-left: 0;
  margin-left: 0;
  li {
    @include navigation-list-item;
    margin-left: 6px;
  }
}
