<div class="hero-image">
    <div class="container">
        <div class="row hero-image-content">
            <div class="col hero-column-image">
                <img src="/images/travis-train-crossing-02.jpg" class="img-fluid" />
            </div>
            <div class="col hero-column-content">
                <h2>Travis</h2>

                <p class="lead">
                    The latest album by Eponymous 4.
                </p>

                <p>
                    When it's time to say goodbye, even though you can't leave.
                </p>

                <p>Stream the album:</p>

                <ul class="list-inline">
                    {{# sidebar.album.shop.also }}
                        <li class="list-inline-item"><a href="{{ url }}">{{ text }}</a></li>
                    {{/sidebar.album.shop.also}}
                </ul>
            </div>
        </div>
    </div>
</div>
