.hero-image {
  width: 100%;
  height: auto;
}

.hero-image-content{
  margin-top: 1em;
  background-color: #BCBCBC;
}

.hero-image-full {
  width: 100%;
}

.hero-column-image, .hero-column-content {
  padding: 20px;
}
