<div class="hero-image">
    <div class="container">
        <h1>{{ artist.name }}</h1>

        <div class="row hero-image-content">
            <div class="col-md-4">
                <img src="{{ artist.image }}" alt="[{{ artist.name }}]" title="[{{ artist.name }}]" class="hero-image-full" />
            </div>
            <div class="col-md-8">
                <p class="lead">
                    Eponymous 4 is the home studio project of Greg Bueno, a lapsed musician and web developer or a lapsed developer and web musician. It depends.
                </p>
            </div>
        </div>
    </div>
</div>
