<div id="masthead">
    <div class="container">
        <div class="row">
            <header id="logo" class="col-md-6">
                <a href="{{ masthead.homeURL }}" title="Home" rel="home">
                    <img src="/images/observant-records-logo.png" alt="[{{ masthead.blogName }}]" title="[<{{ masthead.blogName }}]" id="{{ masthead.logoId }}" />
                </a>
            </header>

            <nav id="nav-header" class="col-md-6">
                <ul class="menu links">
                    {{# masthead.menu }}
                    <li>
                        <a href="{{ url }}">{{ text }}</a>
                    </li>
                    {{/ masthead.menu }}
                </ul>
            </nav>
        </div>
    </div>
</div>