/*!
 * Copyright (c) 2018 Observant Records.
 */

#masthead {
  background-color: #252525;
  background-image: url('/graphics/debut_dark.png');
  a {
    color: #FFF;
    &:hover {
      color: #FFF;
    }
  }
  ul {
    list-style-type: none;
  }
  #logo {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

#observant-records-logo {
  width: 470px;
}

@mixin navigation-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #observant-records-logo {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  #nav-header {
    padding: 1em 0 1em 0;
    text-align: left;
  }

  #nav-header {
    ul.links li {
      @include navigation-list-item;
      margin-left: 24px;
    }
  }
}

#title {
  font-family: 'Lucida Sans Unicode', sans-serif;
  a {
    text-decoration: none;
    color: #000;
  }
}
