{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ page.header }}</h2>

                {{> organisms-article }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}