<div class="bs-glyphicons"> 
	<ul class="bs-glyphicons-list"> 
		<li> <span class="fas fa-asterisk" aria-hidden="true"></span> <span class="fa-class">fas fa-asterisk</span> </li> 
		<li> <span class="fas fa-plus" aria-hidden="true"></span> <span class="fa-class">fas fa-plus</span> </li> 
		<li> <span class="fas fa-euro" aria-hidden="true"></span> <span class="fa-class">fas fa-euro</span> </li> 
		<li> <span class="fas fa-eur" aria-hidden="true"></span> <span class="fa-class">fas fa-eur</span> </li> 
		<li> <span class="fas fa-minus" aria-hidden="true"></span> <span class="fa-class">fas fa-minus</span> </li> 
		<li> <span class="fas fa-cloud" aria-hidden="true"></span> <span class="fa-class">fas fa-cloud</span> </li> 
		<li> <span class="fas fa-envelope" aria-hidden="true"></span> <span class="fa-class">fas fa-envelope</span> </li> 
		<li> <span class="fas fa-pencil" aria-hidden="true"></span> <span class="fa-class">fas fa-pencil</span> </li> 
		<li> <span class="fas fa-glass" aria-hidden="true"></span> <span class="fa-class">fas fa-glass</span> </li> 
		<li> <span class="fas fa-music" aria-hidden="true"></span> <span class="fa-class">fas fa-music</span> </li>
		<li> <span class="fas fa-search" aria-hidden="true"></span> <span class="fa-class">fas fa-search</span> </li>
		<li> <span class="fas fa-heart" aria-hidden="true"></span> <span class="fa-class">fas fa-heart</span> </li> 
	    <li> <span class="fas fa-star" aria-hidden="true"></span> <span class="fa-class">fas fa-star</span> </li> 
	    <li> <span class="fas fa-star-empty" aria-hidden="true"></span> <span class="fa-class">fas fa-star-empty</span> </li> 
	    <li> <span class="fas fa-user" aria-hidden="true"></span> <span class="fa-class">fas fa-user</span> </li> 
	    <li> <span class="fas fa-film" aria-hidden="true"></span> <span class="fa-class">fas fa-film</span> </li> 
	    <li> <span class="fas fa-th-large" aria-hidden="true"></span> <span class="fa-class">fas fa-th-large</span> </li> 
	    <li> <span class="fas fa-th" aria-hidden="true"></span> <span class="fa-class">fas fa-th</span> </li> 
	    <li> <span class="fas fa-th-list" aria-hidden="true"></span> <span class="fa-class">fas fa-th-list</span> </li> 
	    <li> <span class="fas fa-ok" aria-hidden="true"></span> <span class="fa-class">fas fa-ok</span> </li> 
	    <li> <span class="fas fa-remove" aria-hidden="true"></span> <span class="fa-class">fas fa-remove</span> </li> 
	    <li> <span class="fas fa-zoom-in" aria-hidden="true"></span> <span class="fa-class">fas fa-zoom-in</span> </li> 
	    <li> <span class="fas fa-zoom-out" aria-hidden="true"></span> <span class="fa-class">fas fa-zoom-out</span> </li> 
	    <li> <span class="fas fa-off" aria-hidden="true"></span> <span class="fa-class">fas fa-off</span> </li> 
	    <li> <span class="fas fa-signal" aria-hidden="true"></span> <span class="fa-class">fas fa-signal</span> </li> 
	    <li> <span class="fas fa-cog" aria-hidden="true"></span> <span class="fa-class">fas fa-cog</span> </li> 
	    <li> <span class="fas fa-trash" aria-hidden="true"></span> <span class="fa-class">fas fa-trash</span> </li> 
	    <li> <span class="fas fa-home" aria-hidden="true"></span> <span class="fa-class">fas fa-home</span> </li> 
	    <li> <span class="fas fa-file" aria-hidden="true"></span> <span class="fa-class">fas fa-file</span> </li> 
	    <li> <span class="fas fa-time" aria-hidden="true"></span> <span class="fa-class">fas fa-time</span> </li> 
	    <li> <span class="fas fa-road" aria-hidden="true"></span> <span class="fa-class">fas fa-road</span> </li> 
	    <li> <span class="fas fa-download-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-download-alt</span> </li> 
	    <li> <span class="fas fa-download" aria-hidden="true"></span> <span class="fa-class">fas fa-download</span> </li> 
	    <li> <span class="fas fa-upload" aria-hidden="true"></span> <span class="fa-class">fas fa-upload</span> </li>
	     <li> <span class="fas fa-inbox" aria-hidden="true"></span> <span class="fa-class">fas fa-inbox</span> </li> 
	     <li> <span class="fas fa-play-circle" aria-hidden="true"></span> <span class="fa-class">fas fa-play-circle</span> </li> 
	     <li> <span class="fas fa-repeat" aria-hidden="true"></span> <span class="fa-class">fas fa-repeat</span> </li> 
	     <li> <span class="fas fa-refresh" aria-hidden="true"></span> <span class="fa-class">fas fa-refresh</span> </li> 
	     <li> <span class="fas fa-list-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-list-alt</span> </li> 
	     <li> <span class="fas fa-lock" aria-hidden="true"></span> <span class="fa-class">fas fa-lock</span> </li> 
	     <li> <span class="fas fa-flag" aria-hidden="true"></span> <span class="fa-class">fas fa-flag</span> </li> 
	     <li> <span class="fas fa-headphones" aria-hidden="true"></span> <span class="fa-class">fas fa-headphones</span> </li> 
	     <li> <span class="fas fa-volume-off" aria-hidden="true"></span> <span class="fa-class">fas fa-volume-off</span> </li> 
	     <li> <span class="fas fa-volume-down" aria-hidden="true"></span> <span class="fa-class">fas fa-volume-down</span> </li> 
	     <li> <span class="fas fa-volume-up" aria-hidden="true"></span> <span class="fa-class">fas fa-volume-up</span> </li> 
	     <li> <span class="fas fa-qrcode" aria-hidden="true"></span> <span class="fa-class">fas fa-qrcode</span> </li> 
	     <li> <span class="fas fa-barcode" aria-hidden="true"></span> <span class="fa-class">fas fa-barcode</span> </li> 
	     <li> <span class="fas fa-tag" aria-hidden="true"></span> <span class="fa-class">fas fa-tag</span> </li> 
	     <li> <span class="fas fa-tags" aria-hidden="true"></span> <span class="fa-class">fas fa-tags</span> </li> 
	     <li> <span class="fas fa-book" aria-hidden="true"></span> <span class="fa-class">fas fa-book</span> </li> 
	     <li> <span class="fas fa-bookmark" aria-hidden="true"></span> <span class="fa-class">fas fa-bookmark</span> </li> 
	     <li> <span class="fas fa-print" aria-hidden="true"></span> <span class="fa-class">fas fa-print</span> </li> 
	     <li> <span class="fas fa-camera" aria-hidden="true"></span> <span class="fa-class">fas fa-camera</span> </li> 
	     <li> <span class="fas fa-font" aria-hidden="true"></span> <span class="fa-class">fas fa-font</span> </li> 
	     <li> <span class="fas fa-bold" aria-hidden="true"></span> <span class="fa-class">fas fa-bold</span> </li> 
	     <li> <span class="fas fa-italic" aria-hidden="true"></span> <span class="fa-class">fas fa-italic</span> </li> 
	     <li> <span class="fas fa-text-height" aria-hidden="true"></span> <span class="fa-class">fas fa-text-height</span> </li> 
	     <li> <span class="fas fa-text-width" aria-hidden="true"></span> <span class="fa-class">fas fa-text-width</span> </li> 
	     <li> <span class="fas fa-align-left" aria-hidden="true"></span> <span class="fa-class">fas fa-align-left</span> </li> 
	     <li> <span class="fas fa-align-center" aria-hidden="true"></span> <span class="fa-class">fas fa-align-center</span> </li> 
	     <li> <span class="fas fa-align-right" aria-hidden="true"></span> <span class="fa-class">fas fa-align-right</span> </li> 
	     <li> <span class="fas fa-align-justify" aria-hidden="true"></span> <span class="fa-class">fas fa-align-justify</span> </li> 
	     <li> <span class="fas fa-list" aria-hidden="true"></span> <span class="fa-class">fas fa-list</span> </li> 
	     <li> <span class="fas fa-indent-left" aria-hidden="true"></span> <span class="fa-class">fas fa-indent-left</span> </li>
	     <li> <span class="fas fa-indent-right" aria-hidden="true"></span> <span class="fa-class">fas fa-indent-right</span> </li> 
	     <li> <span class="fas fa-facetime-video" aria-hidden="true"></span> <span class="fa-class">fas fa-facetime-video</span> </li> 
	     <li> <span class="fas fa-picture" aria-hidden="true"></span> <span class="fa-class">fas fa-picture</span> </li> 
	     <li> <span class="fas fa-map-marker" aria-hidden="true"></span> <span class="fa-class">fas fa-map-marker</span> </li> 
	     <li> <span class="fas fa-adjust" aria-hidden="true"></span> <span class="fa-class">fas fa-adjust</span> </li> 
	     <li> <span class="fas fa-tint" aria-hidden="true"></span> <span class="fa-class">fas fa-tint</span> </li> 
	     <li> <span class="fas fa-edit" aria-hidden="true"></span> <span class="fa-class">fas fa-edit</span> </li> 
	     <li> <span class="fas fa-share" aria-hidden="true"></span> <span class="fa-class">fas fa-share</span> </li> 
	     <li> <span class="fas fa-check" aria-hidden="true"></span> <span class="fa-class">fas fa-check</span> </li> 
	     <li> <span class="fas fa-move" aria-hidden="true"></span> <span class="fa-class">fas fa-move</span> </li> 
	     <li> <span class="fas fa-step-backward" aria-hidden="true"></span> <span class="fa-class">fas fa-step-backward</span> </li> 
	     <li> <span class="fas fa-fast-backward" aria-hidden="true"></span> <span class="fa-class">fas fa-fast-backward</span> </li> 
	     <li> <span class="fas fa-backward" aria-hidden="true"></span> <span class="fa-class">fas fa-backward</span> </li> 
	     <li> <span class="fas fa-play" aria-hidden="true"></span> <span class="fa-class">fas fa-play</span> </li> <li> <span class="fas fa-pause" aria-hidden="true"></span> <span class="fa-class">fas fa-pause</span> </li> 
	     <li> <span class="fas fa-stop" aria-hidden="true"></span> <span class="fa-class">fas fa-stop</span> </li> 
	     <li> <span class="fas fa-forward" aria-hidden="true"></span> <span class="fa-class">fas fa-forward</span> </li> 
	     <li> <span class="fas fa-fast-forward" aria-hidden="true"></span> <span class="fa-class">fas fa-fast-forward</span> </li> 
	     <li> <span class="fas fa-step-forward" aria-hidden="true"></span> <span class="fa-class">fas fa-step-forward</span> </li> 
	     <li> <span class="fas fa-eject" aria-hidden="true"></span> <span class="fa-class">fas fa-eject</span> </li> 
	     <li> <span class="fas fa-chevron-left" aria-hidden="true"></span> <span class="fa-class">fas fa-chevron-left</span> </li> 
	     <li> <span class="fas fa-chevron-right" aria-hidden="true"></span> <span class="fa-class">fas fa-chevron-right</span> </li> 
	     <li> <span class="fas fa-plus-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-plus-sign</span> </li> 
	     <li> <span class="fas fa-minus-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-minus-sign</span> </li> 
	     <li> <span class="fas fa-remove-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-remove-sign</span> </li> 
	     <li> <span class="fas fa-ok-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-ok-sign</span> </li> 
	     <li> <span class="fas fa-question-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-question-sign</span> </li> 
	     <li> <span class="fas fa-info-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-info-sign</span> </li> 
	     <li> <span class="fas fa-screenshot" aria-hidden="true"></span> <span class="fa-class">fas fa-screenshot</span> </li> 
	     <li> <span class="fas fa-remove-circle" aria-hidden="true"></span> <span class="fa-class">fas fa-remove-circle</span> </li> 
	     <li> <span class="fas fa-ok-circle" aria-hidden="true"></span> <span class="fa-class">fas fa-ok-circle</span> </li> 
	     <li> <span class="fas fa-ban-circle" aria-hidden="true"></span> <span class="fa-class">fas fa-ban-circle</span> </li> 
	     <li> <span class="fas fa-arrow-left" aria-hidden="true"></span> <span class="fa-class">fas fa-arrow-left</span> </li> 
	     <li> <span class="fas fa-arrow-right" aria-hidden="true"></span> <span class="fa-class">fas fa-arrow-right</span> </li> 
	     <li> <span class="fas fa-arrow-up" aria-hidden="true"></span> <span class="fa-class">fas fa-arrow-up</span> </li> 
	     <li> <span class="fas fa-arrow-down" aria-hidden="true"></span> <span class="fa-class">fas fa-arrow-down</span> </li> 
	     <li> <span class="fas fa-share-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-share-alt</span> </li> 
	     <li> <span class="fas fa-resize-full" aria-hidden="true"></span> <span class="fa-class">fas fa-resize-full</span> </li> 
	     <li> <span class="fas fa-resize-small" aria-hidden="true"></span> <span class="fa-class">fas fa-resize-small</span> </li> 
	     <li> <span class="fas fa-exclamation-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-exclamation-sign</span> </li> 
	     <li> <span class="fas fa-gift" aria-hidden="true"></span> <span class="fa-class">fas fa-gift</span> </li> 
	     <li> <span class="fas fa-leaf" aria-hidden="true"></span> <span class="fa-class">fas fa-leaf</span> </li> 
	     <li> <span class="fas fa-fire" aria-hidden="true"></span> <span class="fa-class">fas fa-fire</span> </li> 
	     <li> <span class="fas fa-eye-open" aria-hidden="true"></span> <span class="fa-class">fas fa-eye-open</span> </li> 
	     <li> <span class="fas fa-eye-close" aria-hidden="true"></span> <span class="fa-class">fas fa-eye-close</span> </li> 
	     <li> <span class="fas fa-warning-sign" aria-hidden="true"></span> <span class="fa-class">fas fa-warning-sign</span> </li> 
	     <li> <span class="fas fa-plane" aria-hidden="true"></span> <span class="fa-class">fas fa-plane</span> </li> 
	     <li> <span class="fas fa-calendar" aria-hidden="true"></span> <span class="fa-class">fas fa-calendar</span> </li> 
	     <li> <span class="fas fa-random" aria-hidden="true"></span> <span class="fa-class">fas fa-random</span> </li> 
	     <li> <span class="fas fa-comment" aria-hidden="true"></span> <span class="fa-class">fas fa-comment</span> </li> 
	     <li> <span class="fas fa-magnet" aria-hidden="true"></span> <span class="fa-class">fas fa-magnet</span> </li> 
	     <li> <span class="fas fa-chevron-up" aria-hidden="true"></span> <span class="fa-class">fas fa-chevron-up</span> </li> 
	     <li> <span class="fas fa-chevron-down" aria-hidden="true"></span> <span class="fa-class">fas fa-chevron-down</span> </li> 
	     <li> <span class="fas fa-retweet" aria-hidden="true"></span> <span class="fa-class">fas fa-retweet</span> </li> 
	     <li> <span class="fas fa-shopping-cart" aria-hidden="true"></span> <span class="fa-class">fas fa-shopping-cart</span> </li> 
	     <li> <span class="fas fa-folder-close" aria-hidden="true"></span> <span class="fa-class">fas fa-folder-close</span> </li> 
	     <li> <span class="fas fa-folder-open" aria-hidden="true"></span> <span class="fa-class">fas fa-folder-open</span> </li> 
	     <li> <span class="fas fa-resize-vertical" aria-hidden="true"></span> <span class="fa-class">fas fa-resize-vertical</span> </li> 
	     <li> <span class="fas fa-resize-horizontal" aria-hidden="true"></span> <span class="fa-class">fas fa-resize-horizontal</span> </li> 
	     <li> <span class="fas fa-hdd" aria-hidden="true"></span> <span class="fa-class">fas fa-hdd</span> </li> 
	     <li> <span class="fas fa-bullhorn" aria-hidden="true"></span> <span class="fa-class">fas fa-bullhorn</span> </li> 
	     <li> <span class="fas fa-bell" aria-hidden="true"></span> <span class="fa-class">fas fa-bell</span> </li> 
	     <li> <span class="fas fa-certificate" aria-hidden="true"></span> <span class="fa-class">fas fa-certificate</span> </li> 
	     <li> <span class="fas fa-thumbs-up" aria-hidden="true"></span> <span class="fa-class">fas fa-thumbs-up</span> </li> 
	     <li> <span class="fas fa-thumbs-down" aria-hidden="true"></span> <span class="fa-class">fas fa-thumbs-down</span> </li> 
	     <li> <span class="fas fa-hand-right" aria-hidden="true"></span> <span class="fa-class">fas fa-hand-right</span> </li> 
	     <li> <span class="fas fa-hand-left" aria-hidden="true"></span> <span class="fa-class">fas fa-hand-left</span> </li> 
	     <li> <span class="fas fa-hand-up" aria-hidden="true"></span> <span class="fa-class">fas fa-hand-up</span> </li> 
	     <li> <span class="fas fa-hand-down" aria-hidden="true"></span> <span class="fa-class">fas fa-hand-down</span> </li> 
	     <li> <span class="fas fa-circle-arrow-right" aria-hidden="true"></span> <span class="fa-class">fas fa-circle-arrow-right</span> </li> 
	     <li> <span class="fas fa-circle-arrow-left" aria-hidden="true"></span> <span class="fa-class">fas fa-circle-arrow-left</span> </li>
	     <li> <span class="fas fa-circle-arrow-up" aria-hidden="true"></span> <span class="fa-class">fas fa-circle-arrow-up</span> </li> 
	     <li> <span class="fas fa-circle-arrow-down" aria-hidden="true"></span> <span class="fa-class">fas fa-circle-arrow-down</span> </li> 
	     <li> <span class="fas fa-globe" aria-hidden="true"></span> <span class="fa-class">fas fa-globe</span> </li> 
	     <li> <span class="fas fa-wrench" aria-hidden="true"></span> <span class="fa-class">fas fa-wrench</span> </li> 
	     <li> <span class="fas fa-tasks" aria-hidden="true"></span> <span class="fa-class">fas fa-tasks</span> </li> 
	     <li> <span class="fas fa-filter" aria-hidden="true"></span> <span class="fa-class">fas fa-filter</span> </li> 
	     <li> <span class="fas fa-briefcase" aria-hidden="true"></span> <span class="fa-class">fas fa-briefcase</span> </li> 
	     <li> <span class="fas fa-fullscreen" aria-hidden="true"></span> <span class="fa-class">fas fa-fullscreen</span> </li> 
	     <li> <span class="fas fa-dashboard" aria-hidden="true"></span> <span class="fa-class">fas fa-dashboard</span> </li> 
	     <li> <span class="fas fa-paperclip" aria-hidden="true"></span> <span class="fa-class">fas fa-paperclip</span> </li> 
	     <li> <span class="fas fa-heart-empty" aria-hidden="true"></span> <span class="fa-class">fas fa-heart-empty</span> </li> 
	     <li> <span class="fas fa-link" aria-hidden="true"></span> <span class="fa-class">fas fa-link</span> </li> 
	     <li> <span class="fas fa-phone" aria-hidden="true"></span> <span class="fa-class">fas fa-phone</span> </li> 
	     <li> <span class="fas fa-pushpin" aria-hidden="true"></span> <span class="fa-class">fas fa-pushpin</span> </li> 
	     <li> <span class="fas fa-usd" aria-hidden="true"></span> <span class="fa-class">fas fa-usd</span> </li> 
	     <li> <span class="fas fa-gbp" aria-hidden="true"></span> <span class="fa-class">fas fa-gbp</span> </li> 
	     <li> <span class="fas fa-sort" aria-hidden="true"></span> <span class="fa-class">fas fa-sort</span> </li> 
	     <li> <span class="fas fa-sort-by-alphabet" aria-hidden="true"></span> <span class="fa-class">fas fa-sort-by-alphabet</span> </li> 
	     <li> <span class="fas fa-sort-by-alphabet-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-sort-by-alphabet-alt</span> </li> 
	     <li> <span class="fas fa-sort-by-order" aria-hidden="true"></span> <span class="fa-class">fas fa-sort-by-order</span> </li> 
	     <li> <span class="fas fa-sort-by-order-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-sort-by-order-alt</span> </li> 
	     <li> <span class="fas fa-sort-by-attributes" aria-hidden="true"></span> <span class="fa-class">fas fa-sort-by-attributes</span> </li> 
	     <li> <span class="fas fa-sort-by-attributes-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-sort-by-attributes-alt</span> </li> 
	     <li> <span class="fas fa-unchecked" aria-hidden="true"></span> <span class="fa-class">fas fa-unchecked</span> </li> 
	     <li> <span class="fas fa-expand" aria-hidden="true"></span> <span class="fa-class">fas fa-expand</span> </li> 
	     <li> <span class="fas fa-collapse-down" aria-hidden="true"></span> <span class="fa-class">fas fa-collapse-down</span> </li> 
	     <li> <span class="fas fa-collapse-up" aria-hidden="true"></span> <span class="fa-class">fas fa-collapse-up</span> </li> 
	     <li> <span class="fas fa-log-in" aria-hidden="true"></span> <span class="fa-class">fas fa-log-in</span> </li> 
	     <li> <span class="fas fa-flash" aria-hidden="true"></span> <span class="fa-class">fas fa-flash</span> </li> 
	     <li> <span class="fas fa-log-out" aria-hidden="true"></span> <span class="fa-class">fas fa-log-out</span> </li> 
	     <li> <span class="fas fa-new-window" aria-hidden="true"></span> <span class="fa-class">fas fa-new-window</span> </li> 
	     <li> <span class="fas fa-record" aria-hidden="true"></span> <span class="fa-class">fas fa-record</span> </li> 
	     <li> <span class="fas fa-save" aria-hidden="true"></span> <span class="fa-class">fas fa-save</span> </li> 
	     <li> <span class="fas fa-open" aria-hidden="true"></span> <span class="fa-class">fas fa-open</span> </li> 
	     <li> <span class="fas fa-saved" aria-hidden="true"></span> <span class="fa-class">fas fa-saved</span> </li> 
	     <li> <span class="fas fa-import" aria-hidden="true"></span> <span class="fa-class">fas fa-import</span> </li> 
	     <li> <span class="fas fa-export" aria-hidden="true"></span> <span class="fa-class">fas fa-export</span> </li> 
	     <li> <span class="fas fa-send" aria-hidden="true"></span> <span class="fa-class">fas fa-send</span> </li> 
	     <li> <span class="fas fa-floppy-disk" aria-hidden="true"></span> <span class="fa-class">fas fa-floppy-disk</span> </li> 
	     <li> <span class="fas fa-floppy-saved" aria-hidden="true"></span> <span class="fa-class">fas fa-floppy-saved</span> </li> 
	     <li> <span class="fas fa-floppy-remove" aria-hidden="true"></span> <span class="fa-class">fas fa-floppy-remove</span> </li> 
	     <li> <span class="fas fa-floppy-save" aria-hidden="true"></span> <span class="fa-class">fas fa-floppy-save</span> </li> 
	     <li> <span class="fas fa-floppy-open" aria-hidden="true"></span> <span class="fa-class">fas fa-floppy-open</span> </li> 
	     <li> <span class="fas fa-credit-card" aria-hidden="true"></span> <span class="fa-class">fas fa-credit-card</span> </li> 
	     <li> <span class="fas fa-transfer" aria-hidden="true"></span> <span class="fa-class">fas fa-transfer</span> </li> 
	     <li> <span class="fas fa-cutlery" aria-hidden="true"></span> <span class="fa-class">fas fa-cutlery</span> </li> 
	     <li> <span class="fas fa-header" aria-hidden="true"></span> <span class="fa-class">fas fa-header</span> </li> 
	     <li> <span class="fas fa-compressed" aria-hidden="true"></span> <span class="fa-class">fas fa-compressed</span> </li> 
	     <li> <span class="fas fa-earphone" aria-hidden="true"></span> <span class="fa-class">fas fa-earphone</span> </li> 
	     <li> <span class="fas fa-phone-alt" aria-hidden="true"></span> <span class="fa-class">fas fa-phone-alt</span> </li> 
	     <li> <span class="fas fa-tower" aria-hidden="true"></span> <span class="fa-class">fas fa-tower</span> </li> 
	     <li> <span class="fas fa-stats" aria-hidden="true"></span> <span class="fa-class">fas fa-stats</span> </li> 
	     <li> <span class="fas fa-sd-video" aria-hidden="true"></span> <span class="fa-class">fas fa-sd-video</span> </li> 
	     <li> <span class="fas fa-hd-video" aria-hidden="true"></span> <span class="fa-class">fas fa-hd-video</span> </li> 
	     <li> <span class="fas fa-subtitles" aria-hidden="true"></span> <span class="fa-class">fas fa-subtitles</span> </li> 
	     <li> <span class="fas fa-sound-stereo" aria-hidden="true"></span> <span class="fa-class">fas fa-sound-stereo</span> </li> 
	     <li> <span class="fas fa-sound-dolby" aria-hidden="true"></span> <span class="fa-class">fas fa-sound-dolby</span> </li>
	     <li> <span class="fas fa-sound-5-1" aria-hidden="true"></span> <span class="fa-class">fas fa-sound-5-1</span> </li> 
	     <li> <span class="fas fa-sound-6-1" aria-hidden="true"></span> <span class="fa-class">fas fa-sound-6-1</span> </li> 
	     <li> <span class="fas fa-sound-7-1" aria-hidden="true"></span> <span class="fa-class">fas fa-sound-7-1</span> </li> 
	     <li> <span class="fas fa-copyright-mark" aria-hidden="true"></span> <span class="fa-class">fas fa-copyright-mark</span> </li> 
	     <li> <span class="fas fa-registration-mark" aria-hidden="true"></span> <span class="fa-class">fas fa-registration-mark</span> </li> 
	     <li> <span class="fas fa-cloud-download" aria-hidden="true"></span> <span class="fa-class">fas fa-cloud-download</span> </li> 
	     <li> <span class="fas fa-cloud-upload" aria-hidden="true"></span> <span class="fa-class">fas fa-cloud-upload</span> </li> 
	     <li> <span class="fas fa-tree-conifer" aria-hidden="true"></span> <span class="fa-class">fas fa-tree-conifer</span> </li> 
	     <li> <span class="fas fa-tree-deciduous" aria-hidden="true"></span> <span class="fa-class">fas fa-tree-deciduous</span> </li> 
	     <li> <span class="fas fa-cd" aria-hidden="true"></span> <span class="fa-class">fas fa-cd</span> </li> 
	     <li> <span class="fas fa-save-file" aria-hidden="true"></span> <span class="fa-class">fas fa-save-file</span> </li> 
	     <li> <span class="fas fa-open-file" aria-hidden="true"></span> <span class="fa-class">fas fa-open-file</span> </li> 
	     <li> <span class="fas fa-level-up" aria-hidden="true"></span> <span class="fa-class">fas fa-level-up</span> </li> 
	     <li> <span class="fas fa-copy" aria-hidden="true"></span> <span class="fa-class">fas fa-copy</span> </li> 
	     <li> <span class="fas fa-paste" aria-hidden="true"></span> <span class="fa-class">fas fa-paste</span> </li> 
	     <li> <span class="fas fa-alert" aria-hidden="true"></span> <span class="fa-class">fas fa-alert</span> </li> 
	     <li> <span class="fas fa-equalizer" aria-hidden="true"></span> <span class="fa-class">fas fa-equalizer</span> </li> 
	     <li> <span class="fas fa-king" aria-hidden="true"></span> <span class="fa-class">fas fa-king</span> </li> 
	     <li> <span class="fas fa-queen" aria-hidden="true"></span> <span class="fa-class">fas fa-queen</span> </li> 
	     <li> <span class="fas fa-pawn" aria-hidden="true"></span> <span class="fa-class">fas fa-pawn</span> </li> 
	     <li> <span class="fas fa-bishop" aria-hidden="true"></span> <span class="fa-class">fas fa-bishop</span> </li> 
	     <li> <span class="fas fa-knight" aria-hidden="true"></span> <span class="fa-class">fas fa-knight</span> </li> 
	     <li> <span class="fas fa-baby-formula" aria-hidden="true"></span> <span class="fa-class">fas fa-baby-formula</span> </li> 
	     <li> <span class="fas fa-tent" aria-hidden="true"></span> <span class="fa-class">fas fa-tent</span> </li> 
	     <li> <span class="fas fa-blackboard" aria-hidden="true"></span> <span class="fa-class">fas fa-blackboard</span> </li> 
	     <li> <span class="fas fa-bed" aria-hidden="true"></span> <span class="fa-class">fas fa-bed</span> </li> 
	     <li> <span class="fas fa-apple" aria-hidden="true"></span> <span class="fa-class">fas fa-apple</span> </li> 
	     <li> <span class="fas fa-erase" aria-hidden="true"></span> <span class="fa-class">fas fa-erase</span> </li> 
	     <li> <span class="fas fa-hourglass" aria-hidden="true"></span> <span class="fa-class">fas fa-hourglass</span> </li> 
	     <li> <span class="fas fa-lamp" aria-hidden="true"></span> <span class="fa-class">fas fa-lamp</span> </li> 
	     <li> <span class="fas fa-duplicate" aria-hidden="true"></span> <span class="fa-class">fas fa-duplicate</span> </li> 
	     <li> <span class="fas fa-piggy-bank" aria-hidden="true"></span> <span class="fa-class">fas fa-piggy-bank</span> </li> 
	     <li> <span class="fas fa-scissors" aria-hidden="true"></span> <span class="fa-class">fas fa-scissors</span> </li> 
	     <li> <span class="fas fa-bitcoin" aria-hidden="true"></span> <span class="fa-class">fas fa-bitcoin</span> </li> 
	     <li> <span class="fas fa-btc" aria-hidden="true"></span> <span class="fa-class">fas fa-btc</span> </li> 
	     <li> <span class="fas fa-xbt" aria-hidden="true"></span> <span class="fa-class">fas fa-xbt</span> </li> 
	     <li> <span class="fas fa-yen" aria-hidden="true"></span> <span class="fa-class">fas fa-yen</span> </li> 
	     <li> <span class="fas fa-jpy" aria-hidden="true"></span> <span class="fa-class">fas fa-jpy</span> </li> 
	     <li> <span class="fas fa-ruble" aria-hidden="true"></span> <span class="fa-class">fas fa-ruble</span> </li> 
	     <li> <span class="fas fa-rub" aria-hidden="true"></span> <span class="fa-class">fas fa-rub</span> </li> 
	     <li> <span class="fas fa-scale" aria-hidden="true"></span> <span class="fa-class">fas fa-scale</span> </li> 
	     <li> <span class="fas fa-ice-lolly" aria-hidden="true"></span> <span class="fa-class">fas fa-ice-lolly</span> </li> 
	     <li> <span class="fas fa-ice-lolly-tasted" aria-hidden="true"></span> <span class="fa-class">fas fa-ice-lolly-tasted</span> </li> 
	     <li> <span class="fas fa-education" aria-hidden="true"></span> <span class="fa-class">fas fa-education</span> </li> 
	     <li> <span class="fas fa-option-horizontal" aria-hidden="true"></span> <span class="fa-class">fas fa-option-horizontal</span> </li> 
	     <li> <span class="fas fa-option-vertical" aria-hidden="true"></span> <span class="fa-class">fas fa-option-vertical</span> </li> 
	     <li> <span class="fas fa-menu-hamburger" aria-hidden="true"></span> <span class="fa-class">fas fa-menu-hamburger</span> </li> 
	     <li> <span class="fas fa-modal-window" aria-hidden="true"></span> <span class="fa-class">fas fa-modal-window</span> </li> 
	     <li> <span class="fas fa-oil" aria-hidden="true"></span> <span class="fa-class">fas fa-oil</span> </li> 
	     <li> <span class="fas fa-grain" aria-hidden="true"></span> <span class="fa-class">fas fa-grain</span> </li> 
	     <li> <span class="fas fa-sunglasses" aria-hidden="true"></span> <span class="fa-class">fas fa-sunglasses</span> </li> 
	     <li> <span class="fas fa-text-size" aria-hidden="true"></span> <span class="fa-class">fas fa-text-size</span> </li> 
	     <li> <span class="fas fa-text-color" aria-hidden="true"></span> <span class="fa-class">fas fa-text-color</span> </li> 
	     <li> <span class="fas fa-text-background" aria-hidden="true"></span> <span class="fa-class">fas fa-text-background</span> </li> 
	     <li> <span class="fas fa-object-align-top" aria-hidden="true"></span> <span class="fa-class">fas fa-object-align-top</span> </li> 
	     <li> <span class="fas fa-object-align-bottom" aria-hidden="true"></span> <span class="fa-class">fas fa-object-align-bottom</span> </li> 
	     <li> <span class="fas fa-object-align-horizontal" aria-hidden="true"></span> <span class="fa-class">fas fa-object-align-horizontal</span> </li> 
	     <li> <span class="fas fa-object-align-left" aria-hidden="true"></span> <span class="fa-class">fas fa-object-align-left</span> </li> 
	     <li> <span class="fas fa-object-align-vertical" aria-hidden="true"></span> <span class="fa-class">fas fa-object-align-vertical</span> </li> 
	     <li> <span class="fas fa-object-align-right" aria-hidden="true"></span> <span class="fa-class">fas fa-object-align-right</span> </li> 
	     <li> <span class="fas fa-triangle-right" aria-hidden="true"></span> <span class="fa-class">fas fa-triangle-right</span> </li> 
	     <li> <span class="fas fa-triangle-left" aria-hidden="true"></span> <span class="fa-class">fas fa-triangle-left</span> </li> 
	     <li> <span class="fas fa-triangle-bottom" aria-hidden="true"></span> <span class="fa-class">fas fa-triangle-bottom</span> </li> 
	     <li> <span class="fas fa-triangle-top" aria-hidden="true"></span> <span class="fa-class">fas fa-triangle-top</span> </li> 
	     <li> <span class="fas fa-console" aria-hidden="true"></span> <span class="fa-class">fas fa-console</span> </li> 
	     <li> <span class="fas fa-superscript" aria-hidden="true"></span> <span class="fa-class">fas fa-superscript</span> </li> 
	     <li> <span class="fas fa-subscript" aria-hidden="true"></span> <span class="fa-class">fas fa-subscript</span> </li> 
	     <li> <span class="fas fa-menu-left" aria-hidden="true"></span> <span class="fa-class">fas fa-menu-left</span> </li> 
	     <li> <span class="fas fa-menu-right" aria-hidden="true"></span> <span class="fa-class">fas fa-menu-right</span> </li> 
	     <li> <span class="fas fa-menu-down" aria-hidden="true"></span> <span class="fa-class">fas fa-menu-down</span> </li> 
	     <li> <span class="fas fa-menu-up" aria-hidden="true"></span> <span class="fa-class">fas fa-menu-up</span> </li> 
	</ul>
</div>

