table.track-table {
  border: 1px dotted $dark-red-brown;
  border-collapse: collapse;
  thead {
    th {
      border: 1px dotted #999;
      font-size: 7pt;
      color: #FFF;
      background-color: #333;
    }
  }
  tbody {
    tr:nth-child(2n) td {
      background-color: $light-grey;
    }
    td {
      border: 1px dotted #999;
    }
    td.track-column {
      width: 50px;
    }
    td.play-column {
      width: 20px;
    }
  }
}
