<table class="track-table table table-striped">
    <thead>
    <tr>
        <th class="track-column">Track</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    {{# album.tracks }}
        <tr>
            <td class="track-column">{{ number }}</td>
            <td>
                {{# url }}
                    <a href="{{ url }}">{{ title }}</a>
                {{/ url }}
                {{^ url }}
                    {{ title }}
                {{/ url }}
            </td>
        </tr>
    {{/album.tracks}}
    </tbody>
</table>