{{> organisms-masthead }}

{{> organisms-hero-image--bio }}

<div id="content">
    <div class="container">
        <div class="artist--latest-news">
            <h3>Latest news</h3>
            <div class="row">
                <div class="col-4">
                    {{> molecules-card }}
                </div>
                <div class="col-4">
                    {{> molecules-card }}
                </div>
                <div class="col-4">
                    {{> molecules-card }}
                </div>
            </div>
        </div>

        <div class="artist--releases">
            <h3>Releases</h3>

            <div class="row">
                {{# artist.releases.albums }}
                    {{> molecules-album-listing-4-column-artist }}
                {{/artist.releases.albums }}
                {{# artist.releases.eps }}
                    {{> molecules-album-listing-4-column-artist }}
                {{/artist.releases.eps }}
                {{# artist.releases.singles }}
                    {{> molecules-album-listing-4-column-artist }}
                {{/artist.releases.singles }}
                {{# artist.releases.compilations }}
                    {{> molecules-album-listing-4-column-artist }}
                {{/artist.releases.compilations }}
            </div>

        </div>
    </div>
</div>

{{> organisms-footer }}