{{> organisms-masthead }}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{> organisms-album }}
            </div>
            <div class="col-md-4">
                {{> organisms-sidebar-album }}
            </div>
        </div>
    </div>
</div>

{{> organisms-footer }}