<div class="col-md-3">

    <p>
        <a href="{{ link.templates-single-album }}">
            <img src="{{ cover }}" width="100%" alt="{{ title }}" title="{{ title }}" scale="0">
        </a>
    </p>

    <ul class="list-unstyled">
        <li><strong><a href="{{ link.templates-single-album }}">{{ title }}</a></strong></li>
        <li><a href="{{ link.templates-single-artist }}">{{ artist }}</a></li>
    </ul>
</div>
