<form action="//observantrecords.us11.list-manage.com/subscribe/post?u=a04e90fa99b1b93d418f4ae9d&amp;id=8a11bbe4d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="form-group">
        <label for="mce-EMAIL">Email Address</label>
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" required="true">
    </div>

    <input type="hidden" value="1" name="group[7993][1]" id="mce-group[7993]-7993-0" />

    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a04e90fa99b1b93d418f4ae9d_8a11bbe4d2" tabindex="-1" value=""></div>

    <div class="form-group">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
    </div>
</form>
