<ul id="nav-social">
    {{# footer.social }}
        <li><a href="{{ url }}"><img src="{{ cdn }}/web/images/icons/{{ icon }}.png" alt="[{{ text }}]" title="[{{ text }}]" /></a></li>
    {{/footer.social}}
</ul>
