<form action="http://vagrant.observantrecords.com/contact/#contact-form-5" method="post" class="contact-form commentsblock" _lpchecked="1">

    <div class="grunion-field-wrap grunion-field-name-wrap">
        <label for="g5-name" class="grunion-field-label name">Name<span>(required)</span></label>
        <input type="text" name="g5-name" id="g5-name" value="" class="name" required="" aria-required="true">
    </div>

    <div class="grunion-field-wrap grunion-field-email-wrap">
        <label for="g5-email" class="grunion-field-label email">Email<span>(required)</span></label>
        <input type="email" name="g5-email" id="g5-email" value="" class="email" required="" aria-required="true">
    </div>

    <div class="grunion-field-wrap grunion-field-url-wrap">
        <label for="g5-website" class="grunion-field-label url">Website</label>
        <input type="url" name="g5-website" id="g5-website" value="" class="url">
    </div>

    <div class="grunion-field-wrap grunion-field-textarea-wrap">
        <label for="contact-form-comment-g5-message" class="grunion-field-label textarea">Message<span>(required)</span></label>
        <textarea name="g5-message" id="contact-form-comment-g5-message" rows="20" class="textarea" required="" aria-required="true"></textarea>
    </div>

    <div class="grunion-field-wrap grunion-field-text-wrap" style="display: none;">
        <label for="g5-redirect" class="grunion-field-label text">redirect</label>
        <input type="text" name="g5-redirect" id="g5-redirect" value="/contact-thanks/" class="text">
    </div>
    <p class="contact-submit">
        <input type="submit" value="Submit" class="pushbutton-wide">
        <input type="hidden" name="contact-form-id" value="5">
        <input type="hidden" name="action" value="grunion-contact-form">
        <input type="hidden" name="contact-form-hash" value="bb4e60158e5e62a67fde7bffaa3c29cd67eb09e2">
    </p>
</form>