<article>

    <header>
        <h3 class="entry-title">It’s been a decade. Let’s see what’s in the vaults!</h3>
        {{> molecules-article-metadata }}
    </header>

    <p>Observant Records was born out of impatience.</p>
    <p>When I was growing up, I thought the only way to get my music heard by people other than me was to get signed to a record label. As active as the Hawaiian music scene may be, I knew my kind of writing would not play well in Honolulu clubs or radio.</p>
    <p>So I waited till I graduated from college and moved to the Mainland to get a lay of the land. By the time that happened, creating your music in your own home became a viable option. As technology improved and an independent infrastructure became more accessible, the record label system seemed more trouble than it was worth.</p>
    <p>I wanted to make music on my own and distribute it on my own. And I didn’t care that it didn’t sound entirely professional just yet. I wanted it out there <em>now.</em></p>
    <p>A stimulus check from the federal government kickstarted Observant Records, which I formed on my birthday in 2008.</p>
    <p><em>enigmatics</em> was the first release, and I optimistically pressed 100 copies. I still have 86 of them in my closet.</p>
    <p>The label turned 10 years old in 2018, even though it hasn’t be entirely active all that time. But it’s a long-enough duration to produce an archive, one that seems worthy of retrospection.</p>
    <p>Bandcamp made subscriptions available to artists, which I haven’t found occasion to use — till now. I’ll be making available the old Work Release Program releases, early versions of the albums now available. I might even find a few infant demos and studio experiments. These releases will be subscriber exclusives.</p>
    <p>Visit the Bandcamp pages of <a href="https://eponymous4.bandcamp.com/">Eponymous 4</a> and <a href="https://emptyensemble.bandcamp.com/">Empty Ensemble</a> to subscribe and to access these new old recordings.</p>
</article>