<article>

    <header>
        <h3 class="entry-title"><a href="{{ article.url }}" rel="bookmark">It’s been a decade. Let’s see what’s in the vaults!</a></h3>
        {{> molecules-article-metadata }}
    </header>

    <p>Observant Records was born out of impatience.</p>
    <p>When I was growing up, I thought the only way to get my music heard by people other than me was to get signed to a record label. As active as the Hawaiian music scene may be, I knew my kind of writing would not play well in Honolulu clubs or radio.</p>
    <p>So I waited till I graduated from college and moved to the Mainland to get a lay of the land. By the time that happened, creating your music in your own home became a viable option. As technology improved and an independent infrastructure became more accessible, the record label system seemed more trouble than it was worth.</p>
    <p>I wanted to make music on my own and distribute it on my own. And I didn’t care that it didn’t sound entirely professional just yet. I wanted it out there <em>now.</em></p>
    <p><a href="{{ link.organisms-article-full }}" class="more-link">Continue reading &raquo;</a></p>
</article>