<div class="entry-meta">
    <ul class="list-inline">
        {{# article.metadata }}
            <li class="list-inline-item">
                <span class="fas fa-{{ icon }}"></span>
                <a href="{{ url }}">
                    {{ text }}
                </a>
            </li>
        {{/ article.metadata}}
    </ul>
</div>
