<div class="row">
    {{# artists }}
        <div class="col-md-4">

            <p>
                <a href="{{ link.templates-single-artist }}">
                    <img src="{{ image }}" width="100%" alt="{{ name }}" title="{{ name }}" scale="0">
                </a>
            </p>

            <ul class="list-unstyled">
                <li><strong><a href="{{ link.templates-single-artist }}">{{ name }}</a></strong></li>
            </ul>
        </div>
    {{/artists }}
</div>