<aside>
    <p>
        <img src="{{ artist.image }}" alt="[{{ artist.name }}]" title="[{{ artist.name }}]" />
    </p>

    <ul>
        <li>
            <a href="{{ artist.site.url }}">
                {{ artist.site.text }}
            </a>
        </li>
    </ul>
</aside>