<div class="card">
    <img src="/images/travis-train-crossing-01.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">It's been a decade. Let's see what's in the vaults!</h5>
        <p class="card-text">
            Observant Records turns 10 years old in 2018, and it's a long-enough time to produce an archive worthy of retrospection.
        </p>
    </div>
    <div class="card-body">
        <a href="{{ link.templates-single-post }}" class="card-link">Read more</a>
    </div>
</div>
