/*
    Document   : typography
    Created on : Nov 11, 2011, 7:56:20 AM
    Author     : Greg Bueno
    Description:
        Purpose of the stylesheet follows.
*/

@import "01-variables.scss";

@mixin default-font {
  font-family: "CartoGothicStd";
  src: url("../fonts/CartoGothicStd-Book-webfont.eot");
  src: url("../fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"),
  url("../fonts/CartoGothicStd-Book-webfont.woff") format("woff"),
  url("../fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"),
  url("../fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
}

@font-face {
  @include default-font;
}

@font-face {
  @include default-font;
  font-style: italic, oblique;
}

@font-face {
  @include default-font;
  font-weight: bold;
}

@font-face {
  @include default-font;
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  font-family: $font-family-base;
  font-size: $font-base-size;
  line-height: $line-height-base;
}

.font-secondary {
  font-family: "CartoGothicStd", Helvetica, Arial, sans-serif;
}