<div>Primary font: "{{ primaryFont }}", "Helvetica", "Arial", sans-serif;</div>
<div><em>Primary font italic: "{{ primaryFont }}", "Helvetica", "Arial", sans-serif;</em></div>
<div><strong>Primary font bold: "{{ primaryFont }}", "Helvetica", "Arial", sans-serif;</strong></div>
<div class="font-secondary">Secondary font: {{ secondaryFont }}, "Helvetica", "Arial", sans-serif;</div>
<div class="font-secondary"><em>Secondary font italic: {{ secondaryFont }}, "Helvetica", "Arial", sans-serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; {{ secondaryFont }}, "Helvetica", "Arial", sans-serif;</strong></div>