$light-blue: #5483CC;
$dark-blue: #304B75;
$dark-red-brown: #402C29;
$light-grey: #CBCBCB;
$light-grey-2: #C9C9C9;
$medium-grey: #F2F2F2;

$font-base-size: 17px;
$line-height-base: 1.530612245357143;

$font-family-serif: "Fira Sans", serif;
$font-family-base: $font-family-serif;
